* {
  margin: 0;
  padding: 0;
  font-family: "Inria Serif", serif;
}

body {
  background-color: #1969ca;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: space-around;
  width: 95%;
}

.texto {
  position: relative;
  height: auto;
}

/* .image {
} */

h2,
p {
  color: #fff;
}

h2{
    font-size: 55px;
}

p{
    line-height: 1.5;
}

.loginLink {
  border: solid 1px #1969ca;
  padding: 10px;
  position: absolute;
  bottom: 0;
  outline: none;
  text-decoration: none;
  transition: transform 0.3s ease; 
  color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra */
}

.loginLink:hover {
    /* border: solid 1px #1969ca; */
    /* padding: 10px; */
    /* position: absolute; */
    /* bottom: 0; */
    /* outline: none; */
    /* text-decoration: none; */
    /* transform: 5ms; */
    color: #1969ca;
    background-color: #fff;
    transform: scale(1.05);
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);  */
  }