* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header {
  height: 3rem;
  padding: 4px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  color: #14537f;
}

main {
  background-image: linear-gradient(to bottom, #14537f, #3d74a2);
  min-height: 550px;
  padding: 20px;
}

section {
  display: grid;
  place-items: center;
}

footer {
  display: grid;
  position: absolute;
  background-image: linear-gradient(to bottom, #3d74a2, #14537f);
  width: 100%;
  bottom: 0;
  height: 3rem;
  box-shadow: 0 0px 3px 3px #3f627f;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar .link {
  padding: 1%;
}

#buttonUser {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  text-align: center;
  border: solid 1px #14537f;
}

.dataMes {
  display: flex;
  align-items: center;
}

.dataMes h3 {
  margin-right: 5px;
}

.alert {
  width: 55%;
  height: 60px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 4px 4px 4px #565656;
  display: grid;
  place-items: center;
}

.row-content {
  margin-top: 5px;
  width: 90%;
  margin-bottom: 5px;
}

.group {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.group .col-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  width: 15%;
  margin: 10px;
  height: 80px;
  box-shadow: 4px 4px 4px #565656;
  border-radius: 5px;
}

.group .col-list {
  display: flex;
  flex-direction: column;
  padding: 2px;
  background-color: #fff;
  width: 20%;
  margin: 10px;
  height: auto;
  box-shadow: 4px 4px 4px #565656;
  border-radius: 5px;
}

li{
  list-style: none;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #14537f;
}

/* .col-12 {
  display: flex;
  width: 100%;
  flex-direction: column;
} */

/* .col-md-6 {
  display: flex;
  width: 49.5%;
  flex-direction: column;
} */

/* .col-12 input,
.col-md-6 input,
.col-md-4 input {
  margin-top: 1%;
  margin-bottom: 1%;
  height: 35px;
  border-radius: 5px;
  outline: none;
  border: 0.5px solid #9e9d9d;
  padding: 5px;
  color: #666;
} */

/* .col-md-4 select {
  margin-top: 2%;
  margin-bottom: 1%;
  height: 48px;
  border-radius: 5px;
  outline: none;
  border: 0.5px solid #9e9d9d;
  padding: 5px;
  color: #666;
} */

/* .col-12 textarea {
  margin-top: 1%;
  border-radius: 5px;
  outline: none;
  border: 0.5px solid #9e9d9d;
  padding: 5px;
  color: #666;
} */

/* .col-md {
  display: flex;
} */

/* .col-md-4 {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-right: 4px;
} */

label {
  color: #f7e8e8;
}

.formulario h2 {
  text-align: center;
  color: #f7e8e8;
}

.btn-outline-primary {
  margin-top: 2%;
  border: #14537f 1px solid;
  padding: 10px;
  border-radius: 4px;
  color: #14537f;
  transition: 5ms;
  cursor: pointer;
}

.btn-outline-primary:hover {
  border: #14537f 1px solid;
  color: #ffffff;
  background-color: transparent;
}

.formulario {
  width: 50%;
}
